*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(./Asset/download.jpeg) ;
    background-position: center;
    background-size: cover;
    height: 110vh;
}

.navbar{
    width: 1500px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.9s ease-in-out;
}

ul li a:hover{
    color: rgba(93, 11, 56, 0.667);
    transition: 1s;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.scrch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid blue;
    margin-top: 15px;
    color: white;
    border-right: none;
    font-size: 15px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: blue;
    border: 2px solid blue;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.par{
    font-size: 25px;
    font-family: cursive;
    margin-left: 50px;
    color: cornflowerblue;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 3px;
}
.cn{
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 10px;
    margin-left: 35px;
    margin-top: 50px;
    background-color: turquoise;
    text-decoration: none;
}

.cn:hover{
    background-color: rgb(89, 194, 44);
    transition: .5s ease;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: blue;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5 ease;
}

.content .cn a{
    text-decoration: none;
    color: #0000;
    transition: .5s ease;
}

.content span{
    color: rgb(15, 7, 38);
    font-size: 70px;
}

.form{
    margin-left: 40px;
    margin-top: 100px;
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%),rgba(0,0,0,0.8)50%;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 15px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: darksalmon;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial,;
}

.btnn{
    width: 90px;
    height: 60px;
    background-color: rgb(170, 221, 147);
    border: none;
    margin-top: 30px;
    font-size: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s ease;
    margin-left: 70px;
}

.btnn:hover{
    background-color: blue;
}

.btnn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: rgb(144, 175, 176);
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}